<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Charts</title>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

</head>

<body>

<th:block th:replace="inc/navigationAdminPanel :: navi(${loggedUser})"></th:block>

<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="inc/sidebarAdmin :: sidebar"></th:block>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Charts</li>
            </ol>


            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-line"></i>
                            Number of views for all posts</div>
                        <div class="card-body">
                            <canvas id="barChart" width="100%" height="50"></canvas>
                        </div>
                        <div class="card-footer small"><a class="btn btn-info " href="/admin/charts">Refresh</a><a class="btn btn-danger float-right" href="/admin/counter/reset">Reset</a></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Posts per moderator</div>
                        <div class="card-body">
                            <canvas id="myPieChart" width="100%" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © DieselPowerX</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>

<script th:inline="javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Bar Chart Example
    var ctx = document.getElementById("barChart");
    var map = /*[[${activityChart}]]*/ 'cos';
    var views = [];
    var time = [];
    var date;
    var maxViews;
    var dateFormat;
    var daysArray=['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'];

    $.each( map, function(index,value){
        date = new Date(index);
        dateFormat = daysArray[date.getDay()-1] + " " + (date.getDate()<10 ? ("0" + date.getDate()): date.getDate())
            + "-" + ((date.getMonth()+1)<10 ? ("0" + (date.getMonth()+1)): (date.getMonth()+1)) + " " + date.getHours()
            + ":" + (date.getMinutes()<10 ? ("0" + date.getMinutes()): date.getMinutes());

        time.push(dateFormat);
        views.push(value);
    });

    maxViews=views[views.length-1];


    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: time,
            datasets: [{
                label: "Views",
                lineTension: 0.3,
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "rgba(2,117,216,1)",
                pointRadius: 0,
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHitRadius: 30,
                data: views,
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'data'
                    },
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: (maxViews * 1.05).round,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, .125)",
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'NUMBER OF VIEWS'
                    }

                }],
            },
            legend: {
                display: false
            }
        }
    });
</script>
<script th:inline="javascript">
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    var user = /*[[${postsPerMod}]]*/ 'User Name';

    var userName = [];
    var count = [];
    var i;
    for (i = 0; i < user.length; i++) {
        userName.push(user[i]['login']);
        count.push(user[i]['cnt']);
    }
    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: userName,
            datasets: [{
                data: count,
                backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745', '#d7d1dc', '#ffc107', '#dc75c4',
                    '#36dca8', '#25ffe4', '#5ea4a7', '#dc0800', '#ffc107', '#1729a7']
            }]
        }
    });
</script>
</body>

</html>
