<html lang="en">
<!-- Sidebar Widgets Column -->
<div th:fragment="sidebar(loggedUser, user, joke)"  class="col-md-4">

    <!-- Login/registry -->
    <div th:if="${!loggedUser.isLogin()}">
        <div class="card my-4">
            <h5 class="card-header">Login</h5>
            <div class="card-body pb-0">
                <form action="/login" method="post" th:unless="${loggedUser.isLogin()}" th:object="${user}" >
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{login}" placeholder="Login">
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Password">

                        <div class="row">
                            <div class="col-sm-4">
                                <input class="btn btn-secondary mt-lg-2"  type="submit" value="login">
                            </div>
                            <div class="col-sm-8">
                                <span class="float-right mt-1">
                                    <a href="/registry">Create new account</a>
                                </span>
                                <span class="float-right">
                                    <a class="float-right" href="/recovery">Recovery account</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">HTML</a>
                        </li>
                        <li>
                            <a href="#">Freebies</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">Tutorials</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div th:if="${weather != null}" class="card my-4">
        <h5 class="card-header" th:text="${'Weather for: ' + weather.getName()}"></h5>
        <div th:if="${weather.getCloudsDto().getClouds() <=20}">male zachmurzenie</div>
        <div th:if="${weather.getCloudsDto().getClouds() >=60}">calkowite</div>
        <div th:text="${weather.getTempDto().getTemperature()}">
        </div>
    </div>

</div>
</html>