<html lang="en">
<!-- Sidebar Widgets Column -->
<div th:fragment="sidebar(loggedUser, user, joke)"  class="col-md-4">

    <!-- Login/registry -->
    <div th:if="${!loggedUser.isLogin()}">
        <div class="card my-4">
            <h5 class="card-header">Login</h5>
            <div class="card-body pb-0">
                <form action="/login" method="post" th:unless="${loggedUser.isLogin()}" th:object="${user}" >
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{login}" placeholder="Login">
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Password">

                        <div class="row">
                            <div class="col-sm-4">
                                <input class="btn btn-secondary mt-lg-2"  type="submit" value="login">
                            </div>
                            <div class="col-sm-8">
                                <span class="float-right mt-1">
                                    <a href="/registry">Create new account</a>
                                </span>
                                <span class="float-right">
                                    <a class="float-right" href="/recovery">Recovery account</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">HTML</a>
                        </li>
                        <li>
                            <a href="#">Freebies</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">Tutorials</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div th:if="${weather != null}" class="card my-4">
        <h5 class="card-header" th:text="${'Weather for: ' + weather.getName()}"></h5>
        <div class="row">
            <div class="col-sm-5 centered">
                <div class="card-box">
                    <h1 style="font-size:3vw" class="ml-4 mt-4 font-weight-light media" th:text="${weather.getTempDto().getTemperature()}"></h1>
                </div>
            </div>
            <div class="col-sm-6 ml-1">
                <td th:if="${weather.getConditionDto().get(0).getState() == 'Rain'}">
                    <img class="img-fluid mx-2 my-2" src="https://image.flaticon.com/icons/svg/128/128774.svg">
                </td>
                <td th:unless="${weather.getConditionDto().get(0).getState() == 'Rain'}">
                    <span th:switch="${weather.getCloudsDto().getClouds()}">
                        <span th:case="'someClouds'">
                            <img class="img-fluid" src="https://image.flaticon.com/icons/svg/128/128780.svg">
                        </span>
                        <span th:case="'clouds'">
                            <img class="img-fluid" src="https://image.flaticon.com/icons/svg/128/128751.svg">
                        </span>
                        <span th:case="'noClouds'">
                            <img class="img-fluid" src="https://image.flaticon.com/icons/svg/128/128781.svg">
                        </span>

                    </span>
                </td>
            </div>

    </div>
    </div>
</div>
</html>